.block {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

body {
	height:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-size: cover;
	background-color: #992211;
}

a {
	max-width: 320px;
	margin: auto;
	text-decoration: none;
}

* {-webkit-tap-highlight-color: rgba(255,105,183,0.6);}

/*成人ボタン*/
.btnAdult {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #FFF;/*文字・アイコン色*/
  border-radius: 10px;/*角丸に*/
  display: inline-block;
  height: 72px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #2222ee;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border: solid 2px #ffffff;
}

/*小児ボタン*/
.btnChild {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #FFF;/*文字・アイコン色*/
  border-radius: 10px;/*角丸に*/
  display: inline-block;
  height: 72px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #2222ee;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border: solid 2px #ffffff;
}

/*乳児ボタン*/
.btnBaby {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #FFF;/*文字・アイコン色*/
  border-radius: 10px;/*角丸に*/
  display: inline-block;
  height: 72px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #2222ee;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border: solid 2px #ffffff;
}

/*緊援隊オビ*/
#header {
	margin-top: 60px;
  background: #eee;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
}

/*緊急消防援助隊出場基準表ラベル*/
.lblTitle {
	margin-top: 26px;
	margin-left: auto;
	margin-right: auto;
	color: #ffd700;/*文字色*/
  display: inline-block;
  height: 100%;/*高さ*/
  width: 100%;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 5vw;/*文字のサイズ*/
	font-weight: bold;
  line-height: 36px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

/*ボタン*/
#one {
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#two {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#three {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#four {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#five {
	position: absolute;
	top: 68%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 80%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info1 {
	position: absolute;
	bottom: 10%;
	left: 18%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 14px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info2 {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 14px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info3 {
	position: absolute;
	bottom: 10%;
	left: 82%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 14px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info4 {
	position: absolute;
	bottom: 2%;
	left: 18%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 10px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info5 {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 14px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#info6 {
	position: absolute;
	bottom: 2%;
	left: 82%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	color: #111;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 36px;/*高さ*/
  width: 30%;/*幅*/
	max-width: 360px;
  text-align: center;/*中身を中央寄せ*/
  font-size: 14px;/*文字のサイズ*/
  line-height: 18px;/*文字の高さ調整*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #ededed;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  border-bottom: solid 2px #888888;
}

#dialog_back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120%;
	background-color: #000;
	opacity: 0.5;
}

#dialog_body {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	top: 80px;
	width: 80%;
	height: 230px;
	background-color: #fff;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
	padding: 10px;
}

#dialog2_back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 180%;
	background-color: #000;
	opacity: 0.5;
}

#dialog2_body {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	top: 40px;
	width: 90%;
	height: 160%;
	background-color: #fff;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
	padding: 10px;
}

#dialog3_back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120%;
	background-color: #000;
	opacity: 0.5;
}

#dialog3_body {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	top: 40px;
	width: 80%;
	height: 80%;
	background-color: #fff;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
	padding: 10px;
}

#dialogNankai_body {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	top: 40px;
	width: 80%;
	height: 90%;
	background-color: #fff;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.4);
	padding: 10px;
}

.list {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 18px;
}

.cancel {
	margin-top: 8px;
	width: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	border-radius: 8px;/*角丸に*/
  display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #ffa500;
	border: solid 0px;
}

.cancel2 {
	margin-top: 8px;
	width: 100px;
	position: absolute;
	left: 25%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	border-radius: 8px;/*角丸に*/
  display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #ffa500;
	border: solid 0px;
}

.action {
	margin-top: 8px;
	width: 100px;
	position: absolute;
	left: 75%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	border-radius: 8px;/*角丸に*/
  display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #ff0000;
	border: solid 0px;
}

.prefecture {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 86px;
	height: 32px;
	background: #ededed;
	font-size: 14px;
}

#list1 {
	margin-top: 8px;
	width: 200px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	border-radius: 8px;/*角丸に*/
  display: inline-block;
	font-size: 18px;
	color: #000;
	background: #ffffff;
	border: solid 0px;
}

.list2 {
	width: 100px;
	position: absolute;
	left: 75%;
	transform: translateX(-50%);
	-webkit- transform: translateX(-50%);
	border-radius: 8px;/*角丸に*/
  display: inline-block;
	font-size: 18px;
	color: #000;
	background: #ffffff;
	border: solid 0px;
}

/* iPhone5s, SE ---------------------------------------------*/
@media (max-width:320px){

	/*緊急消防援助隊出場基準表ラベル*/
	.lblTitle {
		margin-top: 6px;
		margin-left: auto;
		margin-right: auto;
		color: #ffd700;/*文字色*/
	  display: inline-block;
	  height: 100%;/*高さ*/
	  width: 100%;/*幅*/
	  text-align: center;/*中身を中央寄せ*/
	  font-size: 18px;/*文字のサイズ*/
		font-weight: bold;
	  line-height: 36px;/*高さと合わせる*/
	  vertical-align: middle;/*垂直中央寄せ*/
	  overflow: hidden;/*はみ出た部分を隠す*/
	  text-decoration:none;/*下線は消す*/
	}

}

/* PC and others---------------------------------------------*/
@media (min-width:640px){
	#header {
	  background: #eee;
	  text-align: center;
		font-size: 18px;
	  font-weight: bold;
	  padding: 4px;
	}

	/*緊急消防援助隊出場基準表ラベル*/
	.lblTitle {
		margin-top: 24px;
		margin-left: auto;
		margin-right: auto;
		color: #ffd700;/*文字色*/
	  display: inline-block;
	  height: 100%;/*高さ*/
	  width: 100%;/*幅*/
	  text-align: center;/*中身を中央寄せ*/
	  font-size: 24px;/*文字のサイズ*/
		font-weight: bold;
	  line-height: 36px;/*高さと合わせる*/
	  vertical-align: middle;/*垂直中央寄せ*/
	  overflow: hidden;/*はみ出た部分を隠す*/
	  text-decoration:none;/*下線は消す*/
	}
}
